<!-- Section: Features v.3 -->
<section class="container mt-4 mb-4">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold text-center my-5">Pasión por la música.</h1>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">Cierra los ojos y escucha como Los Beatles tocan en tu bar o Celine canta en tu sala. Con un equipo Hi-Fi puedes lograrlo, porque la buena música esta hecha para disfrutarse.

</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 text-center text-lg-left showroom">
      <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image"> -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-6" style="margin-left: 10px;">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">TODO LO QUE NECESITAS</h5>
          <p class="grey-text">Tornamesas, Reproductores de CD, Blu-ray, Amplificadores, Bocinas, DACs, etc. Visita nuestro showroom y conoce una gran variedad de equipos de donde escoger.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">GRANDE O PEQUENO</h5>
          <p class="grey-text">No importa si el area disponible es grande y espaciosa o pequeña y acojedora. Tenemos soluciones que se adaptan a tus necesidades, siempre con la misma calidad excepcional.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!--Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">VISITA NUESTRO SHOWROOM.</h5>
          <p class="grey-text mb-0">Ven y escúchalo tu mismo. Nos encontramos cerca de ti.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.3 -->
