<!-- Section: Features v.3 -->
<section class="container mt-4 mb-4">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold text-center my-5">Sobre nosotros</h1>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">Bienvenidos a Home beat, la boutique del audio!

</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-12 text-center text-lg-left showroom">
      <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image"> -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="row mt-4" style="margin-left: 10px;">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">TODO LO QUE NECESITAS</h5>
          <p class="grey-text">Estudiamos y diseñamos el sonido adecuado, para todo tipo de espacios, hogar o comercial, ofreciendo soluciones integrales en sonido ambiental, profesional & multimedia (salas de reuniones,  auditorios, salas de cine). Home Beat es una empresa dedicada en la importación y comercialización de equipos de sonido de alta gama, concentrándose principalmente en las lineas: Consumer, Home audio, Profesional y multimedia.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">NUESTRAS MARCAS</h5>
          <p class="grey-text">Actualmente somos representantes y dalers oficiales de las marcas mundialmente conocidas como: Bose Profesional, Polk Audio, LD Systems y OSD audio, Harman kardon, JBL, AKG, Crown, Shure, Soundcraft, Sennheiser, Samsung Business, Elite Screens y Optoma entre otros. </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!--Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg indigo-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">VISITA NUESTRO SHOWROOM.</h5>
          <p class="grey-text mb-0">Un lugar donde podremos disfrutar, una variedad de soluciones, diferenciados por ambientes exclusivos, en cada una de nuestras lineas y marcas, desde una completa sala de directorio, hasta una sala de cine en casa.
En este showroom podran vivirás grandes experiencias en todas nuestras lineas de audio, desde un sencillo sonido ambiental para tu oficina, casa, piscina o churrasquera, pasando por una sala de cine, hasta grandes instalaciones comerciales como ser hoteles y restaurantes.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.3 -->
