<div class="container mt-4 mb-4" style="  font-family: 'Lato', sans-serif;;">
  <div class="row">
    <div class="text-center mt-5 mb-5">
      <h1>Vivir la experiencia del cine desde la comodidad de tu hogar.</h1>
      <h3>Tener un cine en casa es la diferencia entre ver y vivir tus películas. Revive tu concierto favorito o transpórtate al estadio a apoyar a tu equipo desde el mejor de los asientos.</h3>
    </div>
    <!-- Grid column -->
    <div class="col-lg-5 text-center text-lg-right dolby">
      <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image"> -->
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 text-center" >
      <div class="row mb-3">
        <div class="col-xl-10 col-md-11 col-10" >
          <h2 class="font-weight-bold mb-3">Una nueva dimensión...</h2>
          <h1>DOLBY ATMOS.</h1>
          <p class="grey-text">Introduciendo una nueva dimensión al sonido envolvente. En un sistema surround convencional, si un automóvil cruza a toda velocidad de un lado a otro, puedes escuchar cómo se desplaza hacia los lados y hacia adelante y atrás. Pero ¿qué pasa cuando un helicóptero de rescate despega y vuela por encima de la pantalla? Con DOLBY ATMOS puedes crear un verdadero sistema de audio 3D por primera vez en la historia del cine en casa.</p>
        </div>
      </div>
    </div>

    <div class="row mt-4 mb-4">


      <div class="col-lg-7 text-center">
        <div class="row mb-3">
          <div class="col-xl-10 col-md-11 col-10" >
            <h2 class="font-weight-bold mb-3">Sonido 5.1, 7.1...</h2>
            <h1>Y mucho, mucho más.</h1>
            <p class="grey-text">Una película en alta definición es mucho más de lo que aparece en la pantalla. Aprovecha al máximo el contenido de alta definición de Netflix y discos Blu-ray con un sistema que decodifique todos los canales de audio y capture la atmósfera de tus películas.</p>
          </div>
        </div>
      </div>


      <!--Grid column-->
      <div class="col-lg-5 text-center text-lg-left colby">
        <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image"> -->
      </div>

    </div>
    <!-- Grid row -->
    <!-- THREE -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left bocinas">
        <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image"> -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 text-center">
        <div class="row mb-3">
          <div class="col-xl-10 col-md-11 col-10" >
            <h1>Una extensa variedad de bocinas.</h1>
            <p class="grey-text">Ofrecemos las mejores marcas del mercado y modelos para todo tipo de configuración. Contamos con bocinas y amplificadores para complementar y lucir la habitación, así como bocinas empotrables para un sonido espectacular sin equipos a la vista.</p>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->
    <!-- FOUR -->
    <div class="row mt-4 mb-4">

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 text-center">
        <div class="row mb-3">
          <div class="col-xl-10 col-md-11 col-10" >
            <h1>Proyectores de alta definición.</h1>
            <p class="grey-text">Quizás el elemento más importante de un cine en casa. Redescubre tus películas favoritas y observa cada detalle con un proyector High-Def. Disfruta de la mejor tecnología en proyección con nuestra amplia gama de proyectores.</p>
          </div>
        </div>

      </div>
      <!--Grid column-->
      <div class="col-lg-5 text-center text-lg-left proyector">
        <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image"> -->
      </div>

    </div>
    <!-- Grid row -->
  </div>
