<%= render "shared/navbar" %>

<div class="container">
  <h1 class="text-center mt-5 mb-5">Garantía, Cambios y Devoluciones</h1>
  <h4>DERECHOS y GARANTÍAS</h4>
  <h2>Garantía Legal y Garantía Voluntaria</h2>
  <p>En caso que el producto no cuente con las características técnicas informadas, si estuviera dañado o incompleto, podrá ser cambiado de inmediato. Puede entregarse directamente en nuestro servicio técnico o en cualquier sucursal de <b>Home Beat</b>.</p>

  <p><b>Home Beat</b> proporcionará una “Garantía Legal” al producto o artefacto objeto en caso que su defecto sea producido por deficiencias de materiales, partes, piezas, componentes que presenten defectos o fallas de fábrica no imputables al consumidor, o cualquier otra falla imputable al fabricante, de tres meses contados desde la recepción del producto. Si el producto presentara fallas o defectos dentro de los 3 meses siguientes a la fecha en que éste fue recibido, puede optarse entre su reparación gratuita, o previa restitución, su cambio o la devolución de la cantidad pagada, siempre que el producto no se hubiera deteriorado por un hecho imputable al consumidor; dependiendo de la complejidad tecnológica el producto deberá ser ingresado al Servicio Técnico de <b>Home Beat</b> para su verificación quien emitirá un informe respecto al origen de dichos defectos.</p>
  <p>Adicionalmente,  <b>Home Beat</b> otorgara una “Garantía Voluntaria” de tres meses que comenzará a regir al término del plazo de dicha garantía legal, en forma ininterrumpida y sucesiva. Esta garantía adicional extendida contempla única y exclusivamente la reparación del producto, siempre y cuando no haya sido intervenido por terceros y sus defectos estén comprendidos en la presente póliza.</p>

  <h2>EXCLUSIONES</h2>
  <p>Las Garantías Legal y Voluntaria NO cubre:</p>
    <ol>
      <li> Daños por uso indebido, incompetente, negligente o imprudente; por usos distintos a los especificados por el fabricante o por causas ajenas a defectos de material o de armado.</li>
      <li>Daños por instalación inapropiada a la red de energía, reparación no autorizada, descuido, daños por transporte luego de la compra, falta de mantenimiento.</li>
      <li>Daños por robo, vandalismo, terremoto, congelamiento, efectos del calor, humedad o similares, corrosión, contaminación de fluidos y/o cualquier situación de fuerza mayor o caso fortuito.</li>
      <li>Daños de todo tipo y/o cortes de cables, cintillos y/o cualquier tipo de quiebre en audífonos; quiebres de conector iPod, daños por derrames de líquido, golpes y cables dañados, golpes de corriente, manipulación de tonos, sobrecargas o cortocircuitos de parlantes de todo tipo y/o productos con alimentación eléctrica.</li>
      <li>Se excluyen de la Garantía los equipos cuyo número de serie haya sido alterado o destruido.</li>
    </ol>

  <p>Todo producto ingresado en garantía estará sujeto a una revisión previa por parte de nuestro Servicio Técnico para verificar la naturaleza y origen de la falla y así determinar si procede su cobertura. En caso de hacerse efectiva la garantía, los plazos de la misma no se verán modificados, sino que se mantendrá el plazo de garantía original, teniendo la reparación su garantía propia y exclusiva sobre la reparación de la falla o repuesto, de 30 días hábiles. Esto es válido para toda reparación efectuada por nuestro servicio técnico autorizado, tanto para productos en garantía como reparaciones fuera de garantía.</p>

  <p>Para los efectos de esta Garantía se entiende por reparación el cambio de piezas o partes del producto, y NO la limpieza de cabezales láser y/o de reproducción de grabaciones, ni los cambios de correas por desgaste, como tampoco operaciones de limpieza, indicaciones de uso o programación del producto, ni tampoco su lubricación y/o mantención.</p>

  <p><b>Home Beat</b>  no asumirá en caso alguno el costo de transporte para revisión en servicio técnico o cambios de producto, incluso en caso de fallas repetitivas, siendo este siempre por cuenta del cliente para los casos donde la falla no sea imputable al producto en cuestión.</p>

  <p>Se considerará como falla o defecto:</p>
    <ol>
      <li>Productos sujetos a normas de seguridad o calidad de cumplimiento obligatorio que no cumplan con las especificaciones</li>
      <li>Si los materiales, partes, piezas, elementos, sustancias o ingredientes que constituyan o integren los productos no correspondan a las especificaciones que ostenten o a las menciones del rotulado.</li>
      <li>Productos que, por deficiencias de fabricación, elaboración, materiales, partes, piezas, elementos, sustancias, ingredientes, estructura, calidad o condiciones sanitarias, en su caso, no sea enteramente apto para el uso o consumo al que está destinado o al que el proveedor hubiese señalado en su publicidad.</li>
      <li>Si el proveedor y consumidor hubieren convenido que los productos objeto del contrato deban reunir determinadas especificaciones y esto no ocurra.</li>
      <li>Si después de la primera vez de haberse hecho efectiva la garantía y prestado el servicio técnico correspondiente, subsistieren las deficiencias que hagan al bien inapto para el uso o consumo a que se refiere el numeral 3. Este derecho subsistirá para el evento de presentarse una deficiencia a la que fue objeto del servicio técnico, o volviere a presentarse la misma.</li>
      <li>Si la cosa objeto del contrato tiene efectos o vicios ocultos que imposibiliten el uso a que habitualmente se destine.</li>
    </ol>

  <h2>Cambios y devoluciones</h2>

  <p>La Devolución o Cambio aplicara solo en el periodo de vigencia de la Garantía Legal bajo las siguientes condiciones:</p>

  <p> a) Cuando el producto presente una falla de origen imputable a su fabricación debidamente respaldado con Informe del Servicio Técnico de la marca, y el usuario adopte esta solución.</p>
  <p>b) Cuando el producto estuviera incompleto, estuviera dañado o no cuente con alguna característica técnica informada en nuestro Sitio Web.</p>
  <p>c) Cuando vencido el plazo de “Retiro en Tienda” se proceda a la anulación de la compra.</p>

  <p>Los requisitos para cualquier cambio son los siguientes:</p>
    <ol>
      <li>Para cambio o devolución deberá presentarse la boleta, guía de despacho, ticket de cambio, u otro comprobante de compra que acredite su compra.</li>
      <li>Solicitarlo dentro de las 48 horas posteriores a la recepción del producto (cuando aplique condición a).</li>
      <li> El producto debe estar sin uso, con etiquetas, en perfectas condiciones y debe tener los embalajes originales, accesorios, manuales y pólizas de garantía.</li>
    </ol>

  <p>La aceptación de la Devolución o Cambio por parte de <b>Home Beat</b> solo procederá una vez recibido el producto devuelto por el usuario en nuestro Centro de Distribución y revisado por nuestro personal de Servicio Técnico quien verificará lo especificado en el punto N°3 anterior.</p>

  <p>Los cambios de producto se realizarán sólo dentro del territorio de Chile continental, los que podrán ser aceptados por <b>Home Beat</b>, con el fin de obtener plena satisfacción del cliente. El cliente podrá solicitar la devolución del dinero o cambio de producto con las características presentadas en nuestra publicación en Web, en cuyo caso el usuario deberá solicitar el retiro del producto rechazado desde la misma dirección ingresada para recibir el despacho original. <b>Home Beat</b> deberá pagar los gastos que este retiro involucre solo si aplica la Garantía Legal por falla del producto imputable a su fabricación.</p>

  <p>Para ejercer este derecho deberá utilizar los mismos medios que empleó para celebrar el contrato y siempre que <b>Home Beat</b> le haya enviado comunicación de haberse perfeccionado el contrato, copia íntegra, acceso claro, comprensible e inequívoco de las condiciones generales del mismo y la posibilidad de almacenarlos o imprimirlos. </p>

  <p>Además, atendiendo la naturaleza de los productos, en las siguientes categorías es necesario que estos no hayan sido abiertos y que conserven su sellado y embalaje original:</p>

  <ul>
    <li>Audífonos Intra-Oido</li>
    <li> Productos y Accesorios Consumibles</li>
    <li>Productos y Accesorios con empaque sellado</li>
  </ul>

  <p>Esta garantía no aplica a productos a pedido o confeccionados a la medida. En el caso de productos que sean informados como usados, abiertos, de segunda selección o con alguna deficiencia, que sean comprados habiéndose informado esta situación en el sitio y contando con un precio reducido, no será aplicable el cambio ni devolución.</p>

  <p>No podrá ejercerse este derecho cuando el bien, materia del contrato, se haya deteriorado por hecho imputable al consumidor.</p>

  <p>Si el bien o servicio se obtuvo por medio de un crédito, éste queda sin efecto, pero los intereses son de cargo del consumidor cuando se haya otorgado por un tercero.</p>
<br><br>
</div>
