/* Global */
h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

/* Carousel */
#carousel-example {
  font-family: 'Lato', sans-serif;
  .carousel-wrapper {
    background: #111;
    color: white;
    font-weight: 300;
    padding: 40px 0;
    text-transform: uppercase;
    h2 {
      padding: 0 0 35px;
      text-align: center;
    }
    ol {
      margin: 0 auto;
      position: static;
      width: 100%;
      span {
        border: 1px solid transparent;
        cursor: pointer;
        height: auto;
        padding: 10px 15px;
        text-align: center;
        transition: border 0.3s, color 0.3s;
        width: auto;
      }
      .active {
        background: none;
        border: 1px solid orange;
        color: orange;
        height: auto;
        padding: 10px 15px;
        width: auto;
      }
    }
  }
  .carousel-inner {
    .item {
      transition: opacity 1s;
      .img-wrapper {
        height: 400px;
        margin: 0 -15px 0 0;
        overflow: hidden;
        position: relative;
        img {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 1000px;
        }
      }
      .carousel-caption {
        background: orange;
        color: #111;
        font-size: 1.1em;
        height: 400px;
        margin: 0 0 0 -15px;
        padding: 30px;
        position: static;
        text-align: left;
        text-shadow: none;
        h2 {
          padding: 0 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  #carousel-example {
    .carousel-inner {
      .item {
        .img-wrapper {
          height: auto;
          img {
            transform: none;
            position: static;
            width: 100%;
          }
        }
        .carousel-caption {
          height: auto;
        }
      }
    }
  }
}

.separator{
  margin-top: 40px;
  margin-bottom: 40px;
}
