.search {
  width: 50%;
  position: relative;
  margin: auto;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-family: 'FontAwesome';
    content: '\f002';
    background: #5FB3D5;
    text-align: center;
    color: white;
    border-radius: 0px 10px 10px 0px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
  }
}
.searchTerm {
  @include box-sizing(border-box);
  width: 100%;
  border: 2px solid #5FB3D5;
  padding: 5px;
  height: 50px;
  border-radius: 10px;
  outline: none;
}
.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

.title{
  color: black !important;
}

.home-container{
  background-color:#FFFFFF;
}

.collection_radio_buttons{
  font-size: 13px !important;
  padding-left: 20px !important;
}

.simple_form .btn{
  background-color: #fff;
  border: 1px solid #45A9E1;
  color: #45A9E1 !important;
  &:hover{
  background-color: #45A9E1;
  border: 1px solid #45A9E1;
  color: #fff !important;
  }
}

.side-filter{
// border: 1px solid #D8D8D8;
// box-shadow: 5px 5px 5px 5px #F0F0F0;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 0px !important;
left: 10px !important;
bottom: 10px !important;
width: 100% !important;

}


.texto-filtro{
  height: 40px;
  border-radius: 5px;
}
