.colby{
background-image: url('Jamo.jpg') ;
background-repeat: no-repeat;
height: 377px;
width: 500px;
object-fit: contain;
}

.proyector{
background-image: url('Proyector.jpg') ;
background-repeat: no-repeat;
height: 377px;
width: 500px;
object-fit: contain;
}

.bocinas{
background-image: url('bocinas.jpg') ;
background-repeat: no-repeat;
height: 377px;
width: 500px;
object-fit: contain;
}

.dolby{
background-image: url('dolby.jpg') ;
background-repeat: no-repeat;
height: 377px;
width: 500px;
object-fit: contain;
}


.showroom{
background-image: url('showroom.jpg') ;
background-repeat: no-repeat;
height: 377px;
width: 500px;
object-fit: contain;
}
