.active{
  font-weight: bold;
}

.nav-link a{
  padding: 0px 500px;
}

.style_image{
  width:150px;
}

.nav-link{
  text-transform: uppercase !important;
  margin-right: 40px;
}

.navbarlink a{
  padding-left: 40px;
  text-decoration: none !important;
  color: gray !important;

}

