.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.grid-item {
  position: relative;
  overflow: hidden;
  margin: 0.2%;
  height: 0px;
}

.grid-item:hover {
  transform: scale(0.97);
  cursor: pointer;
}

.grid-item:active {
  transform: scale(0.93);
  cursor: pointer;
}

.medium {
  width: 19.6%;
  padding-bottom: 19.6%;
}

.wide {
  width: 39.6%;
  padding-bottom: 19.6%;
}

.large {
  width: 39.6%;
  padding-bottom: 39.55%;
}

.grid-item img {
  overflow: hidden;
  width: 105%;
}

.grid-item .info {
  overflow: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  height: auto;
  left: 0;
  width: 100%;
  font-size: 100%;
  transition: all 0.25s ease-in-out;
}

.grid-item .show-info {
  height: 100%;
}

.grid-item .hide-info {
  height: 30%;
  max-height: 60px;
}

.grid-item .title {
  margin-top: 5px;
  font-size: 15px;
  padding: 1%;
}

.grid-item .date {
  padding: 1%;
  padding-top: 5px;
  font-size: 13px;
}

.grid-item .description {
  margin-top: 15px;
  font-size: 13px;
  padding: 1%;
}

.grid-item button {
  visibility: collapse;
  text-align: center;
  background: #0096a0;
  color: white;
  position: absolute;
  text-decoration: none;
  border: none;
  left: 50%;
  right: 50%;
  bottom: 25px;
  margin: -20px -50px;
  width: 100px;
  height: 30px;
  transition: background-color 0.1s;
  transition: height 0.1s;
}

.grid-item button:hover {
  background-color: rgba(30, 30, 30, 100);
  cursor: pointer;
  transition: background-color 0.1s;
}

.grid-item button:active {
  background-color: rgba(20, 20, 20, 100);
  cursor: pointer;
  transition: background-color 0.1s;
}

@media all and (max-width:680px) {
  .medium {
    width: 99.3%;
    padding-bottom: 49.3%;
    margin-bottom: 1%;
  }
  .wide {
    width: 99.3%;
    padding-bottom: 49.3%;
    margin-bottom: 1%;
  }
  .large {
    width: 99.3%;
    padding-bottom: 49.3%;
    margin-bottom: 1%;
  }
}
